//SASS autocompile

@import "./variables";

* {
  box-sizing: border-box;
}
body {
  line-height: 1.3;
  background-color: $background-color;
  font-family: $system-font;
  font-size: $regular-size;
  color: $font-color;
  display: flex;
  justify-content: center;
}

main {
  padding: $base;
  width: 100vw;
  max-width: 400px;
  border: 2px solid $dark-red;
}

.footer {
  position: sticky;
  font-size: $small-size;
  margin: 0 $base $base;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.more-info {
  display: flex;
  justify-content: flex-end;
  color: $accent-yellow;
  font-size: $h4-size;
  cursor: pointer;

  p {
    text-decoration: underline;
  }
}

.homepage {
  @include alignCenter();
  flex-direction: column;
}

.homepage__logo {
    @include bigLogo();
    margin: $base 0 $half-base 0;
}

.homepage__tagline {
    font-family: $decorative-font;
    color: $dark-red;
    font-size: $h2-size;
    text-align: right;
    margin: $half-base 0 $base 0;
}

.header {
    color: $default-red;
    font-family: $decorative-font;
    font-size: $h1-size;
    cursor: pointer;
    margin-bottom: $tiny;
}

.menu-link {
  @include menuLink;
}

.login-options {
  flex-direction: column;
  @include alignCenter();
}

.login-options__login {
    margin-bottom: $half-base;
}

.login-options__register {
  margin-top: 0.5 * $base;
  text-transform: uppercase;
}

.about-dish__heading {
  font-size: $h3-size;
  font-family: $decorative-font;
}

.about-dish__logo {
  @include mediumLogo();
}

.return-link {
  text-decoration: underline;
  color: $font-color;
}

.main-logo-container {
  @include alignCenter();

  .main-logo {
    @include bigLogo();
  }
}

// ABOUT pages

.about-dish__heading {
  color: $font-color;
  font-family: $decorative-font;
  font-size: $h3-size;
}

.about-dish__intro {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: $base;
}

.about-dish__logo {
  @include smallLogo();
}

.about-dish__heading {
    font-size: $h3-size;
    font-family: $decorative-font;
}

.about-dish__logo {
    @include smallLogo();
}

.about-dish__description {
  padding-bottom: $base;
  font-size: $h4-size;
}

.fa-arrow-left {
  padding-right: $tiny;
}

// DISH PAGE

.dietary-info ul,
.item-info__info__servings {
  width: 100%;
  display: flex;
}

.dietary-info ul li,
.item-info__info__servings li {
  margin: 0 0.25em;
}

.item-info {
  width: 100%;
}

.item-info__name {
  font-family: $decorative-font;
  font-size: $h2-size;
}

.item-info__image {
  margin-left: -$base;
  width: calc(100% + #{2 * $base} - 0.5px);
}

.item-info__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5em;
}

.item-info__info,
.dietary-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.25em;
}

.item-form {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

// CREATE COMMUNITY FORM PAGE - Bobby

.add-form {
  display: flex;
  flex-direction: column;
}

.add-form__input {
  @include userInput();
  min-height: 45px;
  margin-bottom: $small;
}

.create-header {
    font-size: $h3-size;
    margin-bottom: $small;
}

.form-input-labels {
    font-size: $h4-size;
}

.form-input-labels__dietary {
  align-self: flex-start;
}

.red-button {
    @include redButton;
    align-self: center;
}

.red-file-upload-button {
    @include redFileUploadButton;
    width: 100%;
    height: 272px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $h2-size;
}
