//SASS autocompile

@import './variables';

body {
    background-color: $background-color;
    font-family: $system-font;
    font-size: $regular-size;
    color: $font-color;
}

a {
    text-decoration: none;
}

// HOME and INFO pages - Anna
.homepage-info {
    color: $accent-yellow;
    font-size: $h4-size;
    cursor: pointer;
    text-decoration: underline;
}

.homepage-tagline {
    font-family: $decorative-font;
    color: $dark-red;
    font-size: $h2-size;
}

.header {
    color: $default-red;
    font-family: $decorative-font;
    font-size: $h1-size;
}

.homepage-logo {
    @include bigLogo();
}

.footer {
    font-size: $small-size;
}

.red-button {
    @include redButton;
}

.red-file-upload-button {
    @include redFileUploadButton;
}

.menu-link {
    @include menuLink;
}

.login-options__register {
    text-transform: uppercase;

}

.about-dish__heading {
    font-size: $h3-size;
    font-family: $decorative-font;
}

.about-dish__logo {
    @include mediumLogo();
}

.return-link {
    text-decoration: underline;
    color: $font-color;
}

.main-logo-container {
    @include alignCenter();

    .main-logo {
        @include bigLogo();
    }
}


// DISH PAGE - Sam


// CREATE COMMUNITY FORM PAGE - Bobby

.create-header {
    font-size: $h2-size;
}

.form-input-labels {
  font-size: $h4-size;
}
