body {
  background-color: #F9FAFB;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  color: #16191D;
  line-height: 1.3;
}

main {
  height: 85vh;
  padding: 1.5em;
}

.footer {
  position: absolute;
  bottom: 1.5em;
  left: 1.5em;
  font-size: 0.875em;
  margin-top: 1.5em;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.more-info {
  display: flex;
  justify-content: flex-end;
  color: #F8C154;
  font-size: 1.125em;
  cursor: pointer;
}

.more-info p {
  text-decoration: underline;
}

.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homepage__logo {
  height: 145px;
  width: 145px;
  margin: 1.5em 0 0.75em 0;
}

.homepage__tagline {
  font-family: "Abril Fatface", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #610505;
  font-size: 2em;
  text-align: right;
  margin: 0.75em 0 1.5em 0;
}

.header {
  color: #AA0808;
  font-family: "Abril Fatface", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2.75em;
  cursor: pointer;
}

.red-button {
  background-color: #AA0808;
  color: #F9FAFB;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  height: 40px;
  width: 145px;
  font-size: 1.125em;
  font-weight: lighter;
  letter-spacing: 1px;
}

.red-file-upload-button {
  background-color: #AA0808;
  color: #F9FAFB;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  height: 40px;
  width: 145px;
  font-size: 1.125em;
  font-weight: lighter;
  letter-spacing: 1px;
}

.menu-link {
  background-color: #F9FAFB;
  color: #AA0808;
  text-decoration: underline;
  height: 40px;
  width: 145px;
  font-size: 1.125em;
  font-weight: lighter;
  letter-spacing: 1px;
  border: none;
}

.login-options {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-options__login {
  margin-bottom: 0.75em;
}

.login-options__register {
  margin-top: 0.75em;
  text-transform: uppercase;
}

.about-dish__heading {
  font-size: 1.5em;
  font-family: "Abril Fatface", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.about-dish__logo {
  height: 130px;
  width: 130px;
}

.about-dish__description {
  padding-bottom: 1.5em;
}

.return-link {
  text-decoration: underline;
  color: #16191D;
}

.main-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-logo-container .main-logo {
  height: 145px;
  width: 145px;
}

.about-dish__heading {
  color: #16191D;
  font-family: "Abril Fatface", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.5em;
}

.about-dish__intro {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1.5em;
}

.about-dish__logo {
  height: 110px;
  width: 110px;
}

.create-header {
  font-size: 2em;
}

.form-input-labels {
  font-size: 1.125em;
}
