<div class='error'>
    <img class="error__logo" src="./assets/fried.svg">
    <h1 class='error__num'>Error 404</h1>
</div>

<a href="/" class='return-link return-error'><i class="fas fa-arrow-left"></i>take me back home</a>