<div class='about-dish'>
    <h3 class='about-dish__heading'>What is dish?</h3>
    <img class="about-dish__logo" src="./assets/fried.svg">
    <p class="about-dish__description">Dish is a platform where foodies can share their cooking with people in their
        communities and reduce food wastage.</p>
</div>

<a href="/" class='return-button'>Return to the homepage</a>