<h2 class ="create-header">Create a {{ item }}</h2>

<form class="add-form" action="{{ item }}-add" method="post">
  <!-- <div class="img-placeholder">
  </div> -->
  <!-- <input type="file" class="red-file-upload-button"> -->

  <label for="imgUrl" class="form-input-labels">Image URL<sup class="required-asterisk">*</sup></label>
  <input class="add-form__input" type="text" name="imgUrl" id="imgUrl" required>

  <label for="title" class="form-input-labels">Name your {{ item }}<sup class="required-asterisk">*</sup></label>
  <input class="add-form__input" type="text" name="title" id="title" required>

  {{#if (compare item 'dish')}}

  <label for="teaser" class="form-input-labels">Write a one-liner about your dish<sup class="required-asterisk">*</sup></label>
  <input class="add-form__input" type="text" name="teaser" id="teaser" required>

  <label for="spiciness" class="form-input-labels">Spiciness</label>
  <select class="add-form__input" name="spiciness" id="spiciness" required>
    <option value="">--Select spiciness--</option>
    <option value="0">Not spicy</option>
    <option value="1">Mild</option>
    <option value="2">Medium</option>
    <option value="3">Spicy</option>
  </select>

  <h3 class="form-input-labels">Dietary information</h3>

  <label class="form-input-labels__dietary" for="vegetarian">Vegetarian</label>
  <input type="checkbox" name="vegetarian" id="vegetarian" value=1>

  <label for="vegan">Vegan</label>
  <input type="checkbox" name="vegan" id="vegan" value="1">

  <label for="gluten-free">Gluten Free</label>
  <input type="checkbox" name="glutenFree" id="gluten-free" value="1">

  <label for="halal">Halal</label>
  <input type="checkbox" name="halal" id="halal" value="1">

  <label for="kosher">Kosher</label>
  <input type="checkbox" name="kosher" id="kosher" value="1">

  <h3 class="form-input-labels">Allergies</h3>

  <h3 class="form-input-labels">Contains:</h3>
  <label for="nuts">Nuts</label>
  <input type="checkbox" name="nuts" id="nuts" value="1">

  <label for="shellfish">Shellfish</label>
  <input type="checkbox" name="shellfish" id="shellfish" value="1">

  <label for="dairy">Dairy</label>
  <input type="checkbox" name="dairy" id="dairy" value="1">

  <label for="servings" class="form-input-labels">Servings</label>
  <select name="servings" id="servings" required>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
    <option value="4">Four</option>
    <option value="5">Five</option>
  </select>

  <label for="cooked" class="form-input-labels">Cooked</label>
  <input type="date" name="cooked" id="cooked" value="" min="2019-01-01">

  <label for="collection" class="form-input-labels">Collection time</label>
  <input type="datetime-local" name="collection" id="collection" min="2019-01-01T00:00">

  <label for="location" class="form-input-labels">Collection location</label>
  <input type="text" name="location" id="location" required>

  <label for="additional" class="form-input-labels">Additional Info</label>
  <textarea name="additional" id="additional" rows="5" required></textarea>

  {{else}}


  <label for="description">Describe your community</label>
  <textarea class="add-form__input" name="description" id="description" rows="8" required></textarea>

  <label for="borough">Where is your community?<sup class="required-asterisk">*</sup></label>
  <select class="add-form__input" name="borough" id="borough" required>
    <option value="unknown">--Please select borough--</option>
    <option>lambeth</option>
    <option>havering</option>
    <option>bexley</option>
    <option>redbridge</option>
    <option>enfield</option>
    <option>walthamforest</option>
    <option>sutton</option>
    <option>kingston</option>
    <option>bromley</option>
    <option>croydon</option>
    <option>barkinganddagenham</option>
    <option>newham</option>
    <option>greenwich</option>
    <option>towerhamlets</option>
    <option>hackney</option>
    <option>islington</option>
    <option>cityoflondon</option>
    <option>merton</option>
    <option>lewisham</option>
    <option>southwark</option>
    <option>haringey</option>
    <option>wandsworth</option>
    <option>westminster</option>
    <option>camden</option>
    <option>barnet</option>
    <option>kensingtonandchelsea</option>
    <option>hammersmithandfulham</option>
    <option>brent</option>
    <option>harrow</option>
    <option>richmond</option>
    <option>hounslow</option>
    <option>hillingdon</option>
    <option>ealing</option>
  </select>

  {{/if}}

  <button type="submit" class='red-button'>Create</button>


</form>
