<a href="/about" class="homepage-info">What is dish?</a>
<img class="homepage-logo" src="./assets/fried.svg">
<h3 class="homepage-tagline"></h3>

<div class="login-options">
    <button class="red-button login-options__login">Log In</button>
    <button class="menu-link login-options__register">Register</button>
</div>