<a href="/about" class="more-info">
    <i class="fas fa-question-circle"></i>
    <p>What is dish?</p>
</a>

<div class="homepage">
    <img class="homepage__logo" src="./assets/fried.svg">
    <h3 class="homepage__tagline">list your food and share the love!</h3>
</div>

<div class="login-options">
    <a href="/login"><button class="red-button login-options__login">Log In</button></a>
    <a href="/register"><button class="menu-link login-options__register">Register</button></a>
</div>