<a href="/{{ this.item }}-add"><i class="fas fa-plus-circle"> Add your own </i></a>

<ul>
    {{#each data}}
    <li>
        {{> card info=this item=../item}}
    </li>
    {{else}}
    <h3>Sorry, there seems to be nothing here.</h3>
    {{/each}}
</ul>