<h1>{{titlecase item}} Listings</h1>

<ul>
    {{#each data}}
    <li>
        {{> card info=this item=../item}}
    </li>
    {{else}}
    <h3>Sorry, there seems to be nothing here.</h3>
    {{/each}}
</ul>