<div class="main-logo-container">
  <img class="main-logo" src="./assets/fried.svg">
</div>

<nav class="main-menu">
  <details class="food-options">
    <summary>Food</summary>
    <ul class="main-menu__options">
      <li> <a href="/dish-add" class="menu-link">I have leftovers!</a></li>
      <li> <a href="/dish-listings" class="menu-link">I need food!</a></li>
    </ul>
  </details>

  <details class="community-options">
    <summary>Community</summary>
    <ul class="main-menu__options">
      <li><a href="/community-listings" class="menu-link">Join a community</a></li>
      <li><a href="/community-add" class="menu-link">Create a community</a></li>
    </ul>
  </details>
</nav>