<h1>This is the main page</h1>

<img src="./assets/fried.svg">


<nav class="main-menu">
  <button>Food</button>
  <div class="food main-menu__options">
    <a href ="/dish-add">I have leftovers!</a>
    <a href ="/dish-listings">I need food!</a>
  </div>

    <button>Community</button>
    <div class="community main-menu__options">
      <a href ="/community-listings">Join a community</a>
      <a href ="/community-add">Create a community</a>
    </div>

</nav>
