<h1 class="success-title">Hooray!</h1>

<h2 class="success-claim">You've claimed:</h2>
<h3>{{ data.name }}</h3>

<p>{{ data.collection_time }}</p>
<p>{{ data.collection_location }}</p>

<a href="/dish-listings">See more food</a>
