<div class="card">
    <div class="card__image">
        <img
            src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/delish-breakfast-burrito-horizontaljpg-1541624805.jpg?resize=980:*">
        <div class="card__info">
            <h3 class="card__info__name"></h3>
            <p class="card__info__additional-info"></p>
            <p class="card__info__user"></p>
        </div>
    </div>
    <div class="card__teaser">
        <div class="card__options">
            <button class="card__options__action"></button>
            <button class="card__options__more-info"></button>
        </div>
        <p>This is a placeholder text for the teaser.</p>
    </div>
</div>