<div class='dietary-info'>
  <ul class='dietary-info__dietary'>Dietary:
    {{#if (compare vegetarian 1)}}
    <li class='dietary-info__dietary__vegetarian'>v</li>
    {{/if}}
    {{#if (compare vegan 1)}}
    <li class='dietary-info__dietary__vegan'>ve</li>
    {{/if}}
    {{#if (compare gluten-free 1)}}
    <li class='dietary-info__dietary__gluten-free'>gf</li>
    {{/if}}
    {{#if (compare halal 1)}}
    <li class='dietary-info__dietary__halal'>ha</li>
    {{/if}}
    {{#if (compare kosher 1)}}
    <li class='dietary-info__dietary__kosher'>ko</li>
    {{/if}}
  </ul>
  <ul class='dietary-info__spiciness'>Spiciness:
    {{#if (greaterThanEqualTo spiciness 1)}}
    <li class='dietary-info__dietary__vegetarian'>c</li>
    {{/if}}
    {{#if (greaterThanEqualTo spiciness 2)}}
    <li class='dietary-info__dietary__vegan'>c</li>
    {{/if}}
    {{#if (greaterThanEqualTo spiciness 3)}}
    <li class='dietary-info__dietary__gluten-free'>c</li>
    {{/if}}

  </ul>
  <ul class='dietary-info__allergens'>Allergens:
    {{#if (compare nuts 1)}}
    <li class='dietary-info__dietary__nuts'>nuts</li>
    {{/if}}
    {{#if (compare dairy 1)}}
    <li class='dietary-info__dietary__dairy'>dairy</li>
    {{/if}}
    {{#if (compare shellfish 1)}}
    <li class='dietary-info__dietary__shellfish'>shellfish</li>
    {{/if}}
  </ul>
</div>