<div class='dietary-info'>
  <ul class='dietary-info__dietary'>Dietary:
    {{#if vegetarian}}
    <li class='dietary-info__dietary__vegetarian'>v</li>
    {{/if}}
    {{#if vegan}}
    <li class='dietary-info__dietary__vegan'>ve</li>
    {{/if}}
    {{#if gluten-free}}
    <li class='dietary-info__dietary__glutenFree'>gf</li>
    {{/if}}
    {{#if halal}}
    <li class='dietary-info__dietary__halal'>ha</li>
    {{/if}}
    {{#if kosher}}
    <li class='dietary-info__dietary__kosher'>ko</li>
    {{/if}}
  </ul>
  <ul class='dietary-info__spiciness'>Spiciness:
    {{#if (greaterThanEqualTo spiciness 1)}}
    <li class='dietary-info__dietary__vegetarian'>🌶</li>
    {{/if}}
    {{#if (greaterThanEqualTo spiciness 2)}}
    <li class='dietary-info__dietary__vegan'>🌶</li>
    {{/if}}
    {{#if (greaterThanEqualTo spiciness 3)}}
    <li class='dietary-info__dietary__glutenFree'>🌶</li>
    {{/if}}

  </ul>
  <ul class='dietary-info__allergens'>Allergens:
    {{#if nuts}}
    <li class='dietary-info__dietary__nuts'>nuts</li>
    {{/if}}
    {{#if dairy}}
    <li class='dietary-info__dietary__dairy'>dairy</li>
    {{/if}}
    {{#if shellfish}}
    <li class='dietary-info__dietary__shellfish'>shellfish</li>
    {{/if}}
  </ul>
</div>