<div class="image-container">

    <div class="image-container__info">
        <h3 class="image-container__info__name"></h3>
        <p class="image-container__info__additional-info"></p>
        <p class="'image-container__info__user'"></p>
    </div>
    <img> 
</div>